body{
    margin: 0%;
    
}







#grid-container{


    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "nav nav nav"
                         "header header header"
                         "main main main"
                         "footer footer footer";
    

}


.flex_container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 1.25rem;
    background-color: rgb(250, 250, 250);
    
}






.flex_container h2 {
    flex-basis: 100%;
    margin: 1.4rem;

}




.kontakt_flex{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color:rgb(250, 250, 250);
    margin: 1.25rem;
    


}
.kontakt_flex h2{
    flex-basis: 100%;
    text-align: center;

}

.sec1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    padding-top: 30px;

}

.sec1 p{
    background-color: white;
    width: 50%;
    height: auto;
 
    padding: 15px;
    border-radius: 10px;
    font-size: large;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color:black;
    box-shadow: 0px 2px 5px -3px rgba(24, 24, 23, 0.959);
}

.sec1 a{
    display: inline-block;
    background-color: black;
    text-decoration: none;
    text-align: center;
    width: 50%;
    margin: 30px;
    padding: 15px;
    border-radius: 10px;
    font-size: large;
    color: white;
    box-shadow: 0px 5px 10px -3px rgba(0, 0, 0, 0.726);
    

}
.sec1 a:hover{
    transform: scale(1.2);
    background-color:rgb(228, 190, 228);
}

.sec1 input{
    width: 50%;
    margin: 30px;
    padding: 15px;

}


.cart{
        color: black;
        width: 30%;
        min-height: 350px;
        padding: 15px;
        margin: 8px;
        background-color:white;
        box-shadow: 0.5px 5px 5px -3px black;
        border-radius: 1rem;

    }

.cart figure{
    margin: 0;
    width: 100%;
    height: auto;
}

.cart figure img{
        width: 100%;
        height: 250px;
        border-radius: 10px;
        box-shadow: 0.5px 5px 7px -3px black;

    }
.button{
    display: inline-block;
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 0.8rem;
    border-radius: 0.5rem;
    box-shadow: 0px 10px 15px -3px rgb(179, 179, 211);
    margin-top: 15px;

}


.button:hover{
    background-color: blue;
    transform: scale(1.2);

}




header{
    display: flex;
    flex-direction: column;

    grid-area: header;
    background: url(../img/header:.jpg.jpg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 90vh;
}



nav{
    display: flex;
    position: relative;
    justify-content: space-between;
    grid-area: nav;
    flex-wrap: wrap;
    align-items: center;

}

nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;

}
nav ul li{
    list-style: none;
    display: inline-block;

}
nav ul li a{
    text-decoration:none;
    color: black;
    padding: 20px;
    
}
    

nav ul li a:hover{
    color: blue;
    

}

nav figure{
    margin: 10px;
}




#logo{
    width: 150px;
    height: 100%;
    border: black;
    object-fit: cover;
    
    
}

#kontaktOss{
    background-color: #312c2c;
    color: rgba(255, 255, 255, 0.986);
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}



#headerText{
    background-color: rgba(255, 255, 255, 0.295);
    max-width: 40%;
    margin-left: 30px;
    margin-top: 100px;
    padding: 15px;
    border-radius: 10px;
    font-size: large;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color:black;
    line-height: 2.0;
}
main{
    grid-area: main;
    background-color: white;
    
}

footer{
    grid-area: footer;
    background-color: rgb(255, 255, 255);
    border: solid rgb(212, 212, 212);
    width: 100%;
    height: 20vh;
}
footer a{
    margin: 1rem;
    text-decoration: none;
    text-align: center;

}
footer p{
    margin: 1rem;
   
}


#h2id{
    text-align: center;
}

.menu_button{
    position: absolute;
    top: 2rem;
    right: 0.5rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.menu_button .links{
    height: 3px;
    width: 100%;
    background-color: blue;
    border-radius: 3px;
}



@media only screen and (max-width: 1418px) {

    .cart{

        width: 46%;
  

    }

    header{
        height: 70vh;
    }

    #grid-container{


        height: 100vh;
        display: grid;
        grid-template-columns:  1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: "nav nav"
                             "header header"
                             "main main"
                             "footer footer";
        
    
    }
}



@media only screen and (max-width: 1187px) {

    .cart{

        width: 45%;
  

    }
}

@media only screen and (max-width: 959px) {

    .cart{

        width: 42%;
  

    }

    #headerText{
        
        max-width: 80%;
        
    }

    header{
        height: 50vh;
    }

    footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}


@media only screen and (max-width: 700px) {
    .menu_button{
        display: flex;
        top: 2rem;
    }

    .myLinks{
        display: none;
        width: 100%;
        
    }

    nav{
        flex-direction: column;
        align-items:flex-start;
    }
   
    .myLinks ul{
        
        flex-direction: column;
        width: 100%;
    }

    .myLinks ul li{
        text-align: center;
        padding: 20px;
        margin: 8px;
        background-color: rgb(241, 241, 241);

    }


    .myLinks ul li a{
        padding: .5rem 1rem;
    }


    .myLinks.active {
        display: flex;
    }
    header{
        height: auto;
    }
}




@media only screen and (max-width: 650px) {

    .cart{

        width: 100%;
  

    }

    #headerText{
        
        max-width: 70%;
        
    }

    .sec1 p{
        width: 100%;
    }

    .sec1 a{
        width: 100%;
    }

    .sec1 input{
        width: 100%;
    }
    footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #grid-container{


        height: 100vh;
        display: grid;
        grid-template-columns:1fr;
        grid-template-rows: auto;
        grid-template-areas: "nav"
                             "header"
                             "main"
                             "footer";
        
    
    }

    

    
}

@media only screen and (max-width: 510px){
    
    #headerText{
        width: 90%;
    }
}



html{
    scroll-behavior: smooth;
}

.opp{
    position: fixed;
    width: 50px;
    height: 50px;
    background: black;
    bottom: 20px;
    right: 10px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: white;
    font-size: 22px;

}

 
  



